doctype html
html
	head
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		style.
			body {
				background-color:#eee;
			}
	body
		div.container-fluid
			block content
		script(src="/jquery/dist/jquery.min.js", type='text/javascript')
		script(src="/jquery/dist/jquery.slim.min.js", type='text/javascript')
		script(src="/bootstrap/dist/js/bootstrap.min.js", type='text/javascript')