extends layout

block content
	div(style="padding:50px;")
	div.row
		div.col-md-4.offset-md-4
			form.login-form(action=`${process.env.NODE_APP_URL}/login`)
				center
					b
						h4 Login User
				hr
				div.form-group
					label(for="email") Email
					input.form-control#email(type="email" placeholder="Email" name="email")
				div.form-group
					label(for="password") Password
					input.form-control#password(type="password" placeholder="Password" name="password")
				div.form-group
					button.btn.btn-primary.btn-block#login-button(type="button" onclick="login()") Login
					br
					center
						a.text-muted(href=`${process.env.NODE_APP_URL}`) Back To Home
block scripts
	script.
		function login() {
			var loginButton = jQuery('#login-button');
			jQuery.ajax({
				url : "#{process.env.NODE_APP_URL}/login",
				method : 'post',
				data : jQuery('.login-form').serialize(),
				beforeSend : function() {
					loginButton.attr('disabled','disabled');
				},
				success : function(response) {
					loginButton.removeAttr('disabled');
					console.log(response);
				}
			});
		}
