header.navbar.navbar-expand-lg.navbar-dark.bg-primary
	a.navbar-brand(href=`${process.env.NODE_APP_URL}`) #{ process.env.NODE_APP_NAME }
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item.active
				a.nav-link(href=`${process.env.NODE_APP_URL}`)
					| Home
					span.sr-only (current)
			li.nav-item.active
				a.nav-link(href=`${process.env.NODE_APP_URL}/auth`)
					| Login
					span.sr-only (current)