doctype html
html
	head
		title #{title} | #{_title}

		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/toastr.css')
		link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

		style.
			body {
				background-color:#eee;
			}

			.x-pointer {
				cursor:pointer;
			}

			.menu {
				background-color: #fff;
				-webkit-transition: .2s all;
				-webkit-transition-delay: .2s;
				-moz-transition: .2s all;
				-moz-transition-delay: .2s;
				-ms-transition: .2s all;
				-ms-transition-delay: .2s;
				-o-transition: .2s all;  
				-o-transition-delay: .2s;
				transition: .2s all;
				transition-delay: .2s;
				color : #2d3436;
			}

			.menu:hover {
				border-bottom: 2px solid #0984e3;
				color : #0984e3;
				-webkit-transition-delay: 0s;
				-moz-transition-delay: 0s;
				-ms-transition-delay: 0s;
				-o-transition-delay: 0s;
				transition-delay: 0s;
			}

		block stylesheets
	body
		include includes/navbar
		div(style="padding-bottom:50px;")
		div.container-fluid
			block content
		script(src="/jquery/dist/jquery.min.js", type='text/javascript')
		script(src="/bootstrap/dist/js/bootstrap.min.js", type='text/javascript')
		script(src="/javascripts/toastr.js", type='text/javascript')
		block scripts
