extends layout

block stylesheets
	//- Todo

block content
	div.row

		div.col-md-3
			.card.x-pointer.menu(onclick="location.href = '/user'")
				.card-body
					center
						i.fa.fa-user-circle-o.fa-5(style="font-size:5em;")
						p
						h3
							b USERS

block scripts
	script.